@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap'); 
 .navBar{
  overflow: hidden;
  background-color: #333;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.title{
  margin-top: 7px;
  margin-left: 90px;
  font-family: 'Chango', cursive;}

.navLinks{
  margin-top: 18px;
  margin-right: 80px;
}

.nav{
  margin-right: 40px;
}

.nav:hover{
  opacity: 0.5;
}

.title:hover{
  opacity: 0.5;
}
