@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap'); 
 .navBar{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #222;
  height: 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 15px 1px #0000008a;
}

.title{
  color: #ffbb00;
  margin-top: 7px;
  margin-left: 90px;
  transition: 0.1s ease-in-out;
  font-family: 'Chango', cursive;
}

.navLinks{
  margin-top: 18px;
  margin-right: 80px;
}

.nav{
  margin-right: 40px;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  font-size: 0.9em;
}

.nav:hover{
  opacity: 0.5;
}

.title:hover{
  opacity: 0.5;
}
