body {
  font-family: 'Helvetica';
  margin: 0px;
}

.header {
  background: lightgray;
  padding: 5px;
}

.header h1{
  padding-left: 40px;
}

.tripContainer{
  width: 100%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.tripCard{
  background-color: lightgray;
  margin-right: 10px;
  height: 150px;
  width: 200px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.tripContent{
  padding-top: 40px;
}

#newTrip p{
  padding-top: 40px;
}

