body {
  font-family: 'Helvetica';
  margin: 0px;
}

.header {
  background: lightgray;
  padding: 5px;
}

.header h1{
  padding-left: 40px;
}

.tripContainer{
  width: 75%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tripCard{
  background-color: lightgray;
  margin-right: 10px;
  height: 150px;
  width: 200px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
}

.tripContent{
  padding-top: 40px;
}

#newTrip{
  max-width: 200px;
  max-height: 150px;
  cursor: pointer;
}

#newTrip p{
  margin-top:0px;
  padding-top: 40px;
}

.createTripForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 10;
  justify-content: center;
  align-items: center;
}

.createTripForm input {
  margin-bottom: 20px;
}
